.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.left {
    display: flex;
    align-items: center;
}

.listPage {
    margin-left: 20px;
}

.search {
    width: 320px;
    height: 37px;
    display: flex;
    color: #999999;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
}

.icon-search {
    font-size: 10px;
}
.box-input-search {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    font-size: 16px;
}

.list-Item {
    font-size: 18px;
    font-weight: 700;
    margin: 5px 5px;
    text-decoration: none;
}
.list-Item:hover {
    color: #999999;
}

.search-title {
    padding-top: 20px;
    padding-left: 15px;
}

.search-result {
    position: fixed;
    top: 48px;
    right: -210px;
    // max-width: 300px;
}
