.wrapper {
    width: 1105px;
    height: 100vh;
}

.Title-news {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.type-name-link {
    background-color: #b1b4b8;
    color: green;
    width: fit-content;
    padding: 2px 8px;
    height: 25px;
    display: inline-block;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}

.Title-news h1 {
    margin: 0;
    margin-left: 15px;
    margin-top: 20px;
}

.image-news img {
    max-width: 55px;
    max-height: 35px;
    border-radius: 30px;
}

.content-news img {
    width: 1105px;
}
.content-news p {
    font-size: 18px;
    margin: 0;
}

.list-item {
    display: flex;
    height: 451px;
}
